/spi_cpld_firmware/db
/spi_cpld_firmware/output_files
/spi_cpld_firmware/incremental_db
*.bak
*.qws
*.sft
*.xrf
*.sdo
*.vho
*.log
/spi_cpld_firmware/*.qdf
/spi_cpld_firmware/greybox_tmp
/spi_cpld_firmware/*.rpt
/spi_cpld_firmware/*.summary
*-bak
*.tmp
*.do
*.dsn
/schematic3/rescue-backup
*~
*.pof
